/*Arreglar espaciado entre iconos*/
@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/montserrat-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/montserrat-black-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/montserrat-bold-webfont.woff2") format("woff2");
}

.todin{
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 1433px;
  align-items: center;
  padding-left: 20px;
}

.first-container{
  display: flex;
  justify-content: space-around;
  width: 683px;
  height: 34px;
  align-items: center;
}

.navcontainer{
  display:flex;
  flex-direction: row;
  width: 1433px;
  height: 40px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 7px;
  padding-bottom: 9px;
  box-shadow: #F2F2F2 0px -2px 0px 0px inset;
  border: 1px;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

.title-container{
  height:24px;
  width: 66px;
}

.kahoottitle{
  background-image: url('./assets/Kahoot-mor.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 23px;
  width: 65px;
  transition: 0.4s;
  cursor: pointer;
}

.news{
  background-color: #1368CE;
  border-radius: 4px;
  height: 32px;
  width: 91px;
  font-family: 'Montserrat';
  font-weight: 700;
  border: 0px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 2px #0E4E9A;
  cursor: pointer;
}

.news:hover{
  box-shadow: 0 1px #0E4E9A;
  transform: translateY(1px);
}

.news-image{
  background-image: url('./assets/news-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
  margin-right: 4px;
}

.textnews{
  width: 40px;
  height: 17px;
}


.kahoottitle:hover{
  background-image: url(./assets/Kahoot-blue.svg);
}

.school{
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.school :nth-child(2){
  font-family: 'Montserrat';
  width: 49px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
}

.school-image{
  background-image: url('./assets/school-nav-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
}

.work{
  display: flex;
  flex-direction: row;
  width: 59px;
  height: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.work :nth-child(2){
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  width: 40px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.work-image{
  background-image: url('./assets/work-nav-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 13px;
  width: 13px;
}

.home{
  display: flex;
  flex-direction: row;
  width: 68px;
  height: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.home :nth-child(2){
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  width: 44px;
  height: 17;
  display: flex;
  justify-content: space-between;
}

.home-image{
  background-image: url('./assets/home-nav-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 17px;
  width: 17px;
}

.study{
  display: flex;
  flex-direction: row;
  width: 64px;
  height: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.study :nth-child(2){
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  width: 43px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.study-image{
  background-image: url('./assets/study-nav-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
}

.academy{
  display: flex;
  flex-direction: row;
  width: 95px;
  height: 18px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.academy :nth-child(2){
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  width: 69px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.academy-image{
  background-image: url('./assets/academy-nav-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
}

.accesspass{
  display: flex;
  flex-direction: row;
  width: 110px;
  height: 18px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.accesspass :nth-child(2){
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  width: 84px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}

.accesspass-image{
  background-image: url('./assets/accesspass-nav-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
}

.second-container{
  display: flex;
  justify-content: space-around;
  width: 583px;
  height: 34px;
  align-items: center;
  padding-left: 2px;
  padding: 2px;
}

.textito{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  position: relative;
}

.textito::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2;
  background-color: #1368CE;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.textito:hover{
  cursor: pointer;
  color: #1368CE;
}

.textito:hover::before{
  transform: scaleX(1);
}

.contact-button{
  font-family: 'Montserrat';
  height: 34px;
  width: 126px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #1368CE;
  color: #1368CE;
  background-color: white;
  margin-left: 10px;
  padding: 8px;
  transition: 0.4s;
}

.contact-button:hover{
  cursor: pointer;
  background-color: #1368CE;
  color: white;
}

.signup{
  height: 32px;
  width: 97px;
  background-color: #26890C;
  font-family: 'Montserrat';
  font-weight: 700;
  border-radius: 4px;
  border: 0px;
  color:white;
  box-shadow: 0 2px #1C6709;
  cursor: pointer;
}

.signup:hover{
  box-shadow: 0 1px #1C6709;
  transform: translateY(1px);
}

.lang{
  width: 57px;
  height: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: white;
  border: 1px solid;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lang:hover{
    background-color: #CCCCCC;
}

.world{
  background-image: url('./assets/globeSvg.svg');
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}