@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/montserrat-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/montserrat-black-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/montserrat-bold-webfont.woff2") format("woff2");
}

.bannercontainer{
  width: 1495px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner{
  width: 568px;
  height: 60px;
  background-color: #0542b9;
  border-radius: 4px;
  box-shadow: 0 5px #04318b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.playk, .exploreg{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
}

.exploreg{
  text-decoration: underline;
  margin-left: 4px;
}

.mano-der, .mano-izq{
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.mano-der{
  background-image: url('./assets/hand-right.svg');
  top:54px;
  right:500px
}

.mano-izq{
  background-image: url('./assets/hand-left.svg');
  top:54px;
  left:500px
}