@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/montserrat-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/montserrat-black-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/montserrat-bold-webfont.woff2") format("woff2");
}

.aboutcontainer{
  width: 1495px;
  height: 500px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creatorcontainer{
  width: 1420px;
  height: 444px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.morethan{
  width: 1240px;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.textin{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
}

.mill{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 40px;
}

.buttones{
  width: 1240px;
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.triang, .romb, .circle, .square{
  width: 287px;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.triang-image, .romb-image, .circle-image, .square-image{
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.triang{
  background-color: #e21b3c;
  box-shadow: 0 5px #a9142d;
}

.romb{
  background-color: #1368ce;
  box-shadow: 0 5px #0e4e9a;
}

.circle{
  background-color: #d09f36;
  box-shadow: 0 5px #9c7728;
}

.square{
  background-color: #26890c;
  box-shadow: 0 5px #1c6709;
}

.triang-image{
  background-image: url('./assets/triangle.svg');
}

.romb-image, .romber{
  background-image: url('./assets/diamond.svg');
}

.circle-image{
  background-image: url('./assets/circle.svg');
}

.square-image{
  background-image: url('./assets/square.svg');
}

.texter{
  width: 200px;
}

.creators-field{
  width: 1240px;
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.creator{
  width: 550px;
  height:130px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.head1, .head2{
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}

.head1{
  background-image: url('./assets/Jay-Arnaud.jpg');
}

.head2{
  background-image: url('./assets/Gustavo-Lovato.jpg');
}

.quote1{
  width: 470px;
  height: 124px;
}

.quote2{
  width: 470px;
  height: 76px;
  margin-bottom: 30px;
}

.frase{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.auth{
  color: #737373;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 18.2px;
  font-size: 14px;
  margin-top: 10px;
}

.romber{
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top:157px;
  left: 40px;
  filter: drop-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.2));
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.mill {
  animation: counter 1s 1 ease-in-out;
  counter-reset: num var(--num);
}
.mill::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 1000000000;
  }
}