@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../public/montserrat-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../public/montserrat-black-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/montserrat-bold-webfont.woff2") format("woff2");
}

.footcontainer{
  width: 1495px;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

.linkscontainer{
  width: 1200px;
  height: 432px;
  display: flex;
  flex-direction: row;
}

.aboutus{
  width: 295px;
  height: 392px;
}

.txtinn-black{
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
}

.txtinn{
  margin-top: 20px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

.followus{
  width: 1440px;
  height: 100px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.orientator{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-foot{
  width: 1440px;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.us{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 16px;
  color: white;
  width: 100px;
}

.socials{
  width: 850px;
  height: 32px;
  display: flex;
  align-items: center;
}

.social-cont, .social-cont1, .social-cont2, .social-cont3, .social-cont4{
  height: 32px;
  padding-right: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-cont{
  width: 105px;
}

.social-cont1{
  width: 130px;
}

.social-cont2{
  width: 120px;
}

.social-cont3{
  width: 135px;
}

.social-cont4{
  width: 95px;
}

.social-text{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: white;
}


.twitter, .facebook, .linked, .instagram,.tiktok{
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.twitter{
  background-image: url('./assets/twitter.svg');
}

.facebook{
  background-image: url('./assets/facebook.svg');
}

.linked{
  background-image: url('./assets/linkedin.svg');
}

.instagram{
  background-image: url('./assets/instagram.png');
}

.tiktok{
  background-image: url('./assets/tiktok-icon.png');
}

.cert{
  width: 279;
  height: 57px;
  display: flex;
  justify-content: space-between;
}

.part1, .part2{
  width: 136px;
  height: 57px;
  background-size: cover;
  background-repeat: no-repeat;
}

.part1{
  background-image: url('./assets/microsoft-edu-partner-badge.svg');
  background-color: white;
  border-radius: 4px;
}

.part2{
  background-image: url('./assets/google-edu-partner-badge.svg');
  border-radius: 4px;
}

.stores{
  width: 1440px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.copyright{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  align-self: flex-end;
  color: white;
}

.where{
  width: 578px;
  height: 64px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.where > div{
  width: 120px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.appstore{
  background-image: url('./assets/app-store-badge.svg');
}

.googleplay{
  background-image: url('./assets/google-play-badge.svg');
}

.appgallery{
  background-image: url('./assets/AppGallery.png');
}

.kahooot{
  background-image: url('./assets/kahoot-white.svg');
}